<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="url=http://127.0.0.1:5000/">
    <title>Title</title>
</head>
<body>
<h3>点赞系统</h3>
<table border="1">
    <tr align=center>
        <td>ID</td>
        <td>用户名</td>
        <td>点赞数</td>
        <td>操作</td>
    </tr>
    {% for i in data %}
    <tr align=center>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.num }}</td>
        <td><a href="/dianzan?id={{ i.id }}">点赞</a></td>
    </tr>
    {% endfor %}
</table>

<br>
<HR align=left width=800 color=#987cb9 SIZE=3>

<table>
    <h3>1、两头渐变透明：</h3>
    <HR style="FILTER: Alpha(opacity=100, finishopacity=0, style=3)" width="80%" color=#987cb9 SIZE=3>
    <h3>2、纺锤形：</h3>
    <HR style=" FILTER: alpha(opacity=100, finishopacity=0 , style=2)" width="80%" color=#987cb9 SIZE=10>
    <h3>3、右边渐变透明：</h3>
    <HR style="FILTER: alpha(opacity=100, finishopacity=0 , style=1)" width="80%" color=#987cb9 SIZE=3>
    <h3>4、左边渐变透明：</h3>
    <HR style="FILTER: alpha(opacity=0, finishopacity=100, style=1)" width="80%" color=#987cb9 SIZE=3>
    <h3>5、虚线：</h3>
    <HR style="border: 1 dashed #987cb9" width="80%" color=#987cb9 SIZE=1>
    <h3>6、双线：</h3>
    <HR style="border: 3 double #987cb9" width="80%" color=#987cb9 SIZE=3>
    <h3>7、立体效果：</h3>
    <HR style="FILTER: Shadow(color:#987cb9, direction:145, strength:15)" width="80%" color=#987cb9 SIZE=1>
    <h3>8、钢针效果：</h3>
    <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9 ,strength=10)" width="80%" color=#987cb9 SIZE=1>
    <h3>9．垂直分割线</h3>
    <table border="1px" cellpadding="0" cellspacing="0"
           style="margin-left :200px ;height : 265px ; border-left-style: solid ; border-bottom-style : none; border-right-style :none ; border-top-style: none ">
    </table>
</table>
</body>
</html>