<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/index" method="get">
    用户名：<input type="text" name="uname" id=""/>
    密码：<input type="password" name="pwd"/>
    <input type="submit" value="登 录">
</form>
<br>
<HR align=left width=800 color=#987cb9 SIZE=3>
<!--<button onclick="window.location.href='../index.html'" type="button" id="add">新增</button>-->
<br>
<button type="button" onclick='location.href=("https://www.baidu.com/")'>点我，在本页面打开!</button>
<br>
<HR align=left width=800 color=#987cb9 SIZE=3>
<button type="button" onclick='window.open("https://www.baidu.com/")'>点我，打开新页面!</button>



</body>
</html>